/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * RivalX implementation : © LoonTonk
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#board {
    // Setup Image
    width: 522px;
    height: 522px;
    background-image: url('img/rivalxboard.png'); 
    // Center the board
    margin: auto;
    left: 0; top: 0; right: 0; bottom: 0;
    // Tokens and squares are absolutely placed relative to the board
    position: relative;
}

.square {
    // Size of a square
    width: 62px;
    height: 62px;
    // Position relative to the board, not affected by other elements.
    position: absolute;
    // Placeholder for validating the positions.
	z-index: 0;
}
.scoretile {  
	top: 0px;
	left: 0px;
 	width: 62px;
    height: 62px; 
	position: absolute; 
	z-index: 1; 
	pointer-events: none;
}
.tilecolor_4363D8 {   background-color: #A4C8F0 } // TODO: change the colors ("it looks too much like a baby shower")
.tilecolor_E6194B { background-color:#FF9AA2; }
.tilecolor_3CB44B { background-color: #A1D99B; }
.tilecolor_FFE119 { background-color: #FFF4B3; } // TODO: orange instead of yellow?

.token {width: 56px; height: 56px; position: absolute; z-index: 4; background-image: url('img/rivalxtokens.png'); transform: scale(0.9) }
.tokencolor_0 { background-position: 0px 0px; } // Wild token
.tokencolor_4363D8 { background-position: -56px 0px; } // Blue token
.tokencolor_E6194B { background-position: -112px 0px; } // Red token
.tokencolor_3CB44B { background-position: -168px 0px; } // Green token
.tokencolor_FFE119 { background-position: -224px 0px; } // Yellow token

.lastPlayed {
	pointer-events: none;
	width: 45px;
	height: 45px;
	transform: scale(0.9);
	position: absolute;
	background-image: url('img/rivalxlastPlayed.png');
}
.lastPlayedcolor_4363D8 { background-position: 0px 0px; } // Blue lastPlayed
.lastPlayedcolor_E6194B { background-position: -45px 0px; } // Red lastPlayed
.lastPlayedcolor_3CB44B { background-position: -90px 0px; } // Green lastPlayed
.lastPlayedcolor_FFE119 { background-position: -135px 0px; } // Yellow lastPlayed

.selectable {
	animation: selectable-token-animation 1s ease-in-out infinite alternate-reverse;
	background: url('img/rivalxtokens.png');
	position: absolute;
	background-position: -280px 0px;
	width: 60px;
	height: 60px;
	top: 50%; /* Move it to the middle vertically */
	left: 50%; /* Move it to the middle horizontally */
	transform: translate(-50%, -50%) ; /* Offset by half of its own width and height */
	z-index: 5;
}
@keyframes selectable-token-animation {
	0% {
		opacity: .1
	}

	to {
		opacity: .6
	}
}
.selectable.selected {
	animation: none;
}

.playertokens {
	width: 64px;
	height: 64px;
	background-image: url("img/backgroundcircle.png");
	position: relative;
  }
.displayToken {
	top: 50%; /* Move it to the middle vertically */
	left: 50%; /* Move it to the middle horizontally */
	transform: translate(-50%, -50%) scale(0.7); /* Offset by half of its own width and height */
}
.counter {
	position: absolute;
	top: 50%; /* Move it to the middle vertically */
	left: 50%; /* Move it to the middle horizontally */
	transform: translate(-50%, 50%) ; /* Offset by half of its own width and height */
}

.pattern {
	position: absolute;
	background-image: url('img/rivalxpatterns.png');
	z-index: 2;
	pointer-events: none; /* Allows clicks to pass through */
	opacity: 0.8;
	background-position: var(--x-pos, 0px) var(--y-pos, 0px);
	transition: opacity 1s ease-in-out;
}
.patterncolor_4363D8 { --y-pos: 0px; }
.patterncolor_E6194B { --y-pos: -330px; }
.patterncolor_3CB44B { --y-pos: -660px; }
.patterncolor_FFE119 { --y-pos: -990px; }
.patterntype_row, .patterntype_col {
	height: 330px;
	width: 74px;
}
.patterntype_row, .patterntype_ned { // Rows and ne-sw diagonal are just rotated version of cols and nw-se diagonal
	transform: rotate(90deg);
}
.patterntype_pls, .patterntype_crs {
	height: 202px;
	width: 202px;
}
.patterntype_crs { --x-pos: -74px; }
.patterntype_pls { --x-pos: -276px; }
.patterntype_nwd, .patterntype_ned {
	--x-pos: -478px;
	height: 330px;
	width: 330px;
}
.flash {
    animation: flash 2s ease-in-out;
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

.fade-out {
    animation: fadeOut 2s forwards;
}

.possibleMove {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.square.possibleMove::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1); /* Subtle darkening */
	mix-blend-mode: multiply;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 10; /* Ensure it's on top */
  }
  .square.possibleMove:hover::before {
	opacity: 1; /* Show on hover */
  }

.team {
	width: 62px;
	height: 62px;
}
.team_1 {
	background-color:rgb(27, 53, 204);
}
.team_2 {
	background-color: rgb(190, 29, 29);
}
/* .selectable::before {
	animation: selectable-token-animation 1s ease-in-out infinite alternate-reverse;
	background: url('img/rivalxselected.png') no-repeat;
	content: "";
	position: absolute;
	top: 50%; /* Move it to the middle vertically 
	left: 50%; /* Move it to the middle horizontally 
	transform: translate(-50%, 50%) ; /* Offset by half of its own width and height 
} */
/*
	This is the CSS stylesheet of your game User Interface.
	
	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in rivalx.js).
	
	Usually, you are using CSS to:
	
	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).
	
	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/

/*
	Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

	.white_token {
		background-image: url('img/tokens.png');
		background-position: 0px 0px;
	}
	.black_token {
		background-image: url('img/tokens.png');
		background-position: -20px 0px;
	}
	.token {
		width: 20px;
		height: 20px;
		background-repeat: none;
	}
*/